<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet"  type="text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet"  type="text/css" href="{% static 'intraAsso/bootstrap.js'%}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;i}


    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <header>
      <div class="topnav container-fluid" style="z-index: 1">
        <a href="https://www.epita.fr/">
          <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
        </a>
        <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
        <a class="lien"  href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
        <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
        <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
        <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
        <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
        <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

        <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
          <!--   <button class="searchbutton" type="submit">
                 <i class="fa fa-search"></i>
          </button>-->
          <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
        </form>
      </div>
    </header>
    <br>

    <h1 style="color: white">Bienvenue {{ request.user.first_name }} {{ request.user.last_name }}</h1>
    <br><br><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h3 align="left"  style="color:white" >Association membre :</h3>
        <div style="height:500px;width:70%;overflow:auto;border:5px solid #00435f ;padding:2%; background-color:white; color:black; opacity: 0.6;" align="center">
          <font>
            {% for l in list_asso %}
            <h4>
              <a href= "{% url 'intraAsso:detail' l.id %}"  class ="lien" style = "color : black"><td> {{ l.name }} </td></a><h4>
                {% endfor %}
          </font>
        </div>

         <br>
         <!--<h3 align="left" style='color:white'>Actualité :</h3>
        <div style="height:40%;width:70%;border:5px solid #00435f ;padding:2%; background-color:white; color:black; opacity: 0.6;" align="center">
        <font>
        {% for l in actu %}
        <h4>
        <a href= "{% url 'intraAsso:actu' l.id %}"  class ="lien" style = "color : black"> {{ l.association }} : {{ l.title }} </a></h4>
            {% endfor %}<br>
        </font>
       </div>
         -->
      </div>
      <div class="col-md-5">
        <h3 align="left" style='color:white'>Demande en attente :</h3>
        {% for l in liste %}
        <h4 align="left"  style='color:white'><a  style="color:white"href= "{% url 'intraAsso:demand_asso' l.id %}"><td> {{ l.name }} </td></a><h4>
            {% endfor %}
      </div>
        <div class="col-md-3">
         <h3 align="left" style='color:white'>Actualité :</h3>
        <div style="height:500px;width:70%;border:5px solid #00435f ;padding:2%; background-color:white; color:black; opacity: 0.6;" align="center">
        <font>
        {% for l in actu %}
        <h4>
        <a href= "{% url 'intraAsso:actu' l.id %}"  class ="lien" style = "color : black"> {{ l.association }} : {{ l.title }} </a></h4>
            {% endfor %}<br>
        </font>
       </div>


    </div>
    <!--<div class="col-md-1"></div>-->
    </div>
    </div>

</div>

</div>
</body>
</html>
