<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}

    <style type= "text/css">
      .asteriskField{display: none;i}


    </style>
    <link rel="stylesheet"  type="text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>

  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br>
    <h1 style="color: white">Bienvenue {{ request.user.first_name }} {{ request.user.last_name }}</h1>
    <br><br><br>
    <div class="row">

      <div class="col-md-4" style="text-decoration: none;  color:white;  font-weight: bold; margin-left: 5%;">

        <h3 align="left">Demande de création d'association :<h3>
            <div style="height:400px;width:70%;overflow:auto;border:5px solid #00435f ;padding:2%; background : white; opacity: 0.6;" align="center">
              {% for l in liste %}
              <h4><a href="{% url 'intraAsso:validate_asso' l.id %}" style = "text-decoration: none; color: black"> {{ l.name }} </a></h4>
              {% endfor %}
            </div>

            <!--  {% if not enacs.enabled  %}
                  <a  href="{% url  'intraAsso:enacs' %}">
                    <button align="left" type="submit" class="btn btn-success btn-xs" size="0">Activer l'attribution des  points Enacs</button>
                  </a>
                  {% else %}
                  <a style="align: left" href="{% url  'intraAsso:enacs' %}">
                    <button align="left" type="submit" class="btn btn-danger btn-xs" size="0">Désactiver l'attribution des points Enacs</button>
                  </a>
                  {% endif %}-->
      </div>

      <div class="col-md-4"></div>
      <div class="col-md-3">
        {% if not enacs.enabled  %}
        <a  href="{% url  'intraAsso:enacs' %}">
          <button align="left" type="submit" class="btn btn-success btn-xs" style="width:350px">Activer l'attribution des  points Enacs</button>
        </a>
        <a href="{% url 'intraAsso:export_enacs' %}"  style="text-decoration: none; color: white" align ="left" download>
          <button type="button" class="btn btn-outline-light btn-xs"   style="width:350px" >Télécharger les points enacs</button>
        </a>
        {% else %}
        <a style="align: left" href="{% url  'intraAsso:enacs' %}">
          <button align="left" type="submit" class="btn btn-danger btn-xs" style="width:350px">Désactiver l'attribution des points Enacs</button>
        </a>
        {% endif %}

        <a href="{% url 'intraAsso:export_asso' %}" style="text-decoration: none; color: white;" align ="left" download>
          <button type="submit" class="btn btn-outline-light  btn-xs" style="width:350px"> Télécharger la liste des associations</button>
        </a>

        <a href="{% url 'intraAsso:export_bureau' %}"    style="text-decoration: none; color: white" align ="left" download>
          <button type="submit" class="btn btn-outline-light  btn-xs" style="width:350px"> Télécharger la liste des membres de bureau</button>
        </a>

      </div>
      <div class="col-md-1"></div>
    </div>

  </body>
</html>
