<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet"  type="text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet"  type="text/css" href="{% static 'intraAsso/bootstrap.js'%}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;i}


    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <header>
      <div class="topnav container-fluid" style="z-index: 1">
        <a href="https://www.epita.fr/">
          <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
        </a>
        <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
        <a class="lien"  href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
        <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
        <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
        <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
        <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
        <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

        <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
          <!--   <button class="searchbutton" type="submit">
                 <i class="fa fa-search"></i>
          </button>-->
          <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
        </form>
      </div>
    </header>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class= "col-md-3"></div>
        <div class= "col-md-4">
            <h1 style="color: white"> {{ rss.title }}</h1>
            <div style="height:500px;width:100%;overflow:auto;border:5px solid #00435f ;padding:2%; background-color:white; color:black; opacity: 0.6;" align="center">
                 <h5 style="color: Black">{{ rss.description }}</h5>
            </div>
             <div class="row">
                <div class="col-md-4">
                    <h5 style="color: White;" align="left">De : {{ rss.association.name }}</h5>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'intraAsso:create_comment' rss.id %}"><button type="submit" class="btn btn-sm btn-outline-warning">Commenter</button></a>
                </div>
                <div class="col-md-4">
                    <a align= "right" href="{% url 'intraAsso:like' rss.id %}">
                    <button   type="submit" class="btn btn-sm btn-info">J'aime: {{ like }}</button></a>
                </div>
            </div>

            <br><br>
             {% for l in reac %}

            <div class="row">
                 <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div style="color:white" align="left">{{l.user}} :  </div><br>
                </div>
                <div class="col-md-6">

                    <div style="color:white; overflow: hidden; word-wrap: break-word;width: 100%;" align="left">{{ l.commentaire }}</div>
                    <br>
                </div>
                <div class="col-md-1">
                    {% if l.user == request.user %}
                    <a href="{% url 'intraAsso:edit_comment' l.id %}"><button type="submit" class="btn btn-sm btn-danger">Modifier</button></a>
                    <br>
                    {% endif %}
                    <br>
                 </div>
                 <div class="col-md-2"></div>
             </div>
             <br>
              {% endfor %}

        </div>
        <div class= "col-md-3"></div>
        <div class= "col-md-1"></div>
    </div>
   <!-- <a href="{% url 'intraAsso:create_comment' rss.id %}"><button type="submit" class="btn btn-sm btn-danger">Commenter</button></a><br><br>
    <a href="{% url 'intraAsso:like' rss.id %}"><button type="submit" class="btn btn-sm btn-danger">Aime</button></a><br><br>

    Association = {{ rss.association.name }}<br>
       Title = {{ rss.title }} <br>
       Description = {{ rss.descriptio }}<br>
       like = {{ like }}<br><br>
    {% for l in reac %}
    <div class="row">
      <div class = "col-md-3"></div>
      <div class="col-md-6" style = "color: white; text-align: left;"><br>


      <td> Commentaire = {{ l.commentaire }} </td>
      {% if l.user == request.user %}
      <a href="{% url 'intraAsso:edit_comment' l.id %}"><button type="submit" class="btn btn-sm btn-danger">Modifier</button></a><br><br>
      {% endif %}
      <br> <br>
    </div>
    <div class = "col-md-3"></div>
    {% endfor %}

   -->
  </body>
</html>
