<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>
    {% if association.club %}
    <h1 style="color: white"> Club "{{ association.name }}"<br>
      Association Tutrice "{{tuteur.name}}"
    </h1>

    {% else %}
    <h1 style="color: white">Association "{{ association.name }}"</h1>

    {% endif %}

    <br>
    <div class="row">

      <div class="col-md-4"></div>
      <div style="color: white"  class="col-md-4" >
        <div align="left">  <font style="font-weight:bold; text-align: justify-all;"> Description :</font>  {{association.description}}</div>
        <br>

        <div align="left">  <font style="font-weight:bold"> Site Web Officiel :</font>
          {% if association.site != "" %}
          <a class = "link" style= "color: white" href="{{association.site}}">{{association.site}}</a>
          {% else %}
          Aucun
          {% endif %}</div>
        <div align ="left">  <font style="font-weight:bold"> Adresse Mail Officiel :</font> {{association.mail}}</div>
        <br>
        {% if abonne == 0 %}
        <a  href="{% url 'intraAsso:abonne' association.id %}"><button align=type="submit" class="btn btn-success btn-sm">S'abonner </button></a>
        {% else %}
        <a  href="{% url 'intraAsso:abonne' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Se désabonner </button></a>
        {% endif %}
        <br><br>
        <a  href="{% url 'intraAsso:edit_asso' association.id %}"> <button align=type="submit" class="btn btn-danger btn-sm">Editer les informations</button></a>
        {% if  enacs.enabled %}
        <a  href="{% url 'intraAsso:edit_enacs' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Editer les points Enacs </button></a>
        {% endif%}
        <a href="{% url 'intraAsso:create_actu' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Créer une actualité</button></a>
        <br><br><br>
      </div>
      <div style="color: white" class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div style="color: white"  class="col-md-3" >
        <h4>Postulant :</h4><br>
        {% for l in postulants %}
        {{ l.user }}
        <br>
        {% endfor %}
      </div>
      <div style="color: white"  class="col-md-3" >
        <div align ="left" style="text-align: left;">
          <h4> Membres :</h4><br>
          {% for l in nobody %}
          <a href="{% url 'intraAsso:show_user' president.user.id %}" style="color:white; text-decoration:none">   {{ l.user }}</a>
          <br>
          {% endfor %}
        </div>
      </div>
      <div align ="left" style="text-align: left;color: white" class="col-md-3">
        <h4> Bureau :</h4><br>
        <div align="left"><a href="{% url 'intraAsso:show_user' president.user.id %}" style="color:white; text-decoration:none"> <font style="font-weight:bold">{{ president.role.role_str }}: </font>{{ president.user }} </a></div>
        {% for l in members %}
        <div align="left"><a href="{% url 'intraAsso:show_user' l.user.id %}"  style="color:white; text-decoration:none" > <font style="font-weight:bold">{{ l.role.role_str }}: </font>{{ l.user }} </a></div>
        {% endfor %}
        <br>
      </div>
      <div style="color: white" class="col-md-2"></div>

  </body>
