<html>
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      {% if not request.user.is_staff %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      {% endif %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>
    {% if association.club %}
    <h1 style="color: white"> Club "{{ association.name }}"<br><br>
      Association Tutrice "{{tuteur.name}}"
    </h1>

    {% else %}
    <h1 style="color: white">Association "{{ association.name }}"</h1>

    {% endif %}


    <br>
    <div class="row">


      <div class="col-md-4"></div>
      <div style="color: white"  class="col-md-4" >
        <div align="left">  <font style="font-weight:bold; text-align: justify-all;"> Description :</font>  {{association.description}}</div>
        <br>
        <div align="left">  <font style="font-weight:bold"> Site Web Officiel :</font>
          {% if association.site != "" %}
          <a class = "link" style= "color: white" href="{{association.site}}">{{association.site}}</a>
          {% else %}
          Aucun
          {% endif %}
        </div>
        <div align ="left">  <font style="font-weight:bold"> Adresse Mail Officiel :</font> {{association.mail}}</div>
        <br>
         {% if abonne == 0%}
        <a  href="{% url 'intraAsso:abonne' association.id %}"><button align=type="submit" class="btn btn-success btn-sm">S'abonner </button></a>
        {% else %}
        <a  href="{% url 'intraAsso:abonne' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Se désabonner </button></a>
        {% endif %}
        <br><br>
        <a  href="{% url 'intraAsso:edit_asso' association.id %}"> <button align=type="submit" class="btn btn-danger btn-sm">Editer les informations </button></a>
        {% if  enacs.enabled %}
        <a  href="{% url 'intraAsso:edit_enacs' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Editer les points Enacs </button></a>
        {% endif%}
        {% if not request.user.is_staff %}
        <a  href="{% url 'intraAsso:create_actu' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Créer une actualité</button></a>
        {% endif%}
        <br><br><br>
        </div>
      <div style="color: white" class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div style="color: white"  class="col-md-3" >
        <h4>Postulant :</h4><br>
        {% for l in postulants %}
        {{ l.user }}
        <a href="{% url 'intraAsso:validation_post' l.id %}"><button type="submit" class="btn btn-sm btn-success">
            Accepter</button></a>
        <a href="{% url 'intraAsso:refu_post' l.id %}"><button type="submit" class="btn btn-sm btn-danger">Refuser</button></a>
        <br><br>
        {% endfor %}
      </div>
      <div style="color: white"  class="col-md-3" >
        <div>
          <h4 style="text-align: left"> Membres :</h4><br>

          {% for l in nobody %}
          <div align="left"><a  href="{% url 'intraAsso:show_user' l.user.id %}"  style="color:white; text-decoration:none">{{ l.user }}</a>
            <a  href="{% url 'intraAsso:kick' l.id %}"> <button type="button" class="btn btn-danger btn-sm" size="0">Expulser</button></a></div>

          <br>
          {% endfor %}
        </div>

      </div>

      <div align ="left" style="text-align: left;color: white" class="col-md-3">
        <h4> Bureau :</h4><br>
        <div align="left"><a href="{% url 'intraAsso:show_user' president.user.id %}" style="color:white; text-decoration:none"> <font style="font-weight:bold">{{ president.role.role_str }}: </font>{{ president.user }} </a></div>
        {% for l in members %}
        <div align="left"><a href="{% url 'intraAsso:show_user' l.user.id %}"  style="color:white; text-decoration:none" > <font style="font-weight:bold">{{ l.role.role_str }}: </font>{{ l.user }} </a></div>
        {% endfor %}
        <br>

        {% if edit == 0 %}
        <a  href="{% url 'intraAsso:change_bureau' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">
            Changer le bureau</button></a>
        {% endif%}
        <br><br>

        {% if edit == 1 %}

        {% if request.user.is_staff %}
        <div class="dropdown">
          <FORM method="get" id="form1" style="color:white">

            President : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <SELECT   class="" name="Pr" size="1"  size="1"  style="width: 180px;">
              {% for l in all %}
              {% if l.role.role_str == 'President' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
            </SELECT>
            <br>
            Vice-President :&nbsp <SELECT  class="" name="Vp" size="1"  style="width: 180px;">
              {% for l in all %}
              {% if l.role.role_str == 'Vice-President' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
            </SELECT>
            <br>
            Tresorier : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <SELECT  class="" name="Tr" size="1"  style="width: 180px;">
              {% for l in all %}
              {% if l.role.role_str == 'Tresorier' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
            </SELECT>
            <br>
            Secretaire : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<SELECT  class="" name="Se" size="1"  style="width: 180px;">
              {% for l in all %}
              {% if l.role.role_str == 'Secretaire' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
            </SELECT>
            <br>
            <input class="btn btn-sm btn-primary btn-block" type="submit" value="Changer le Bureau"   form="form1" style="background-color:  #41b2e6;" />

          </FORM>
        </div>

        {% else %}

        <div class="dropdown">
          <FORM method="get" id="form1" style="color:white">
            Vice-President :&nbsp <SELECT  class="" name="Vp" size="1"  style="width: 180px;">
              {% for l in members %}
              {% if l.role.role_str == 'Vice-President' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
                {% for l in nobody %}
              <OPTION>{{l.user}}
                {% endfor %}
            </SELECT>
            <br>
            Tresorier : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <SELECT  class="" name="Tr" size="1" style="width: 180px;">
              {% for l in members %}
              {% if l.role.role_str == 'Tresorier' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
                {% for l in nobody %}
              <OPTION>{{l.user}}
                {% endfor %}
            </SELECT>
            <br>
            Secretaire :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<SELECT  class="" name="Se" size="1"  style="width: 180px;">
              {% for l in members %}
              {% if l.role.role_str == 'Secretaire' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
                {% for l in nobody %}
              <OPTION>{{l.user}}
                {% endfor %}
            </SELECT>

            <input class="btn btn-sm btn-primary btn-block" type="submit" value="Changer le Bureau"   form="form1" style="background-color:  #41b2e6;" />

          </FORM>
          <br>
        </div>
        {% endif%}
        {% endif%}


      </div>
      <div style="color: white" class="col-md-0">


      </div>
  </body>
