<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-color: #9dc8ec">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>
    <h1 style="color: #00435f">{{ association.name }}</h1>

    <div class="row">

      <div class="col-md-4"></div>
      <div style="color: black"  class="col-md-4" >
        <div align="left">  <font style="font-weight:bold"> Description :</font>  {{association.description}}</div>
        <br>
        <div align="left">  <font style="font-weight:bold"> Site Web Officiel :</font> </div>
        <div align ="left">  <font style="font-weight:bold"> Adresse Mail Officiel :</font> {{association.mail}}</div>
      </div>
      <div style="color: black" class="col-md-3">
        <div align="left"> <font style="font-weight:bold">{{ president.role.role_str }}: </font>{{ president.user }} </div>
        {% for l in members %}
        <div align="left"> <font style="font-weight:bold">{{ l.role.role_str }}: </font>{{ l.user }} </div>
        {% endfor %}
        <a href=""> <button type="submit" class="btn btn-danger">Changer le bureau</button></a>
      </div>
      <div style="color: white" class="col-md-1"></div>
    </div>
  </body>
