<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>

  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="lien" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      <a class="active"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <!--   <button class="searchbutton" type="submit">
               <i class="fa fa-search"></i>
        </button>-->
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br>
    <div class=" container">
      <br> <br>
      <div class="row">
        <div class="col-md-3" ></div>
        <div class="col-md-6 justify-content-center">
          <br> <br><br>
          <form id="form1"  method="POST" enctype="multipart/form-data" style = "color:white; text-align: left; font-size: large;" novalidate>
            {% csrf_token %}
            {{ form | crispy }}

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Modifier" form="form1"  style="background-color:  #41b2e6;;" />
          </form>
        </div>

      </div>
    </div>
    <br><br><br><br>
  </body>
</html>



