<html>
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>
    <h1 style="color: white">{{ association.name }}</h1>

    <div class="row">

      <div class="col-md-3"></div>
      <div class="col-md-6">


        <div class="dropdown">

          <FORM method="get" id="form1" style="color:white">
            Vice-President :&nbsp  <SELECT  class="" name="Vp" size="1">
              {% for l in members %}
              {% if l.role.role_str == 'Vice-President' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
                {% for l in nobody %}
              <OPTION>{{l.user}}
                {% endfor %}
            </SELECT>

            Tresorier :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <SELECT  class="" name="Tr" size="1" >
              {% for l in members %}
              {% if l.role.role_str == 'Tresorier' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
                {% for l in nobody %}
              <OPTION>{{l.user}}
                {% endfor %}
            </SELECT>

            Secretaire :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<SELECT  class="" name="Se" size="1">
              {% for l in members %}
              {% if l.role.role_str == 'Secretaire' %}
              <OPTION selected> {{l.user}}
                {% else%}
              <OPTION>{{l.user}}
                {% endif%}
                {% endfor %}
                {% for l in nobody %}
              <OPTION>{{l.user}}
                {% endfor %}
            </SELECT>


            <input class="btn btn-sm btn-primary btn-block" type="submit" value="Changer le Bureau"   form="form1" style="background-color:  #41b2e6;;" />
          </FORM>
        </div>
      </div>
      <div class="col-md-3"></div>
  </body>
