<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>

  </head>
  <body>


  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <br>
    <img class="mb-4" src="../../static/intraAsso/image/Epita.png" alt="" width="200px" height="128px" align="left" >
    <div class=" container">
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4 formulaire justify-content-center">

          <form class="form-signin" id="form1" method="POST" style = "color:white; text-align: left; font-size: large;" novalidate>{% csrf_token %}
            <br><br><br><br>
            <h1 style = "color:white; text-align: center; font-size:xx-large;">Connexion</h1>
            <br>
            {{ form|crispy}}
            <input class="btn btn-lg  btn-primary btn-block" type="submit" value="Connexion" form="form1"  style="background-color: #41b2e6;" />
          </form>
          <br>
          <a href="{% url 'intraAsso:inscription' %}" style="text-decoration: none;"><button class="btn  btn-lg btn-primary btn-block" type="button" style="background-color: #41b2e6;">Inscription</button></a>
          <br> <br> <br> <br>
          <a href="{% url 'social:begin' backend='epita' %}">
            <button type="button" name="button" class="btn btn-primary">Epita Connect</button>
          </a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>


  </body>

</div>
</body>
</html>
