<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center"  style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">

    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="lien" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <!--   <button class="searchbutton" type="submit">
               <i class="fa fa-search"></i>
        </button>-->
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br>
    <h3 style="color: yellow" align="center">Demande de création de l'association "{{ asso.name }}"</h3>
    <br><br>
    <div class="row">
      <div  class="col-md-4"></div>
      <div  class="col-md-4" style="color:white;">
        <div align= "left">  <font style="font-weight:bold"> Description :</font>  {{asso.description}}</div>
        <br>
        <div align="left">  <font style="font-weight:bold; " > Site Web Officiel :</font>
          {% if asso.site != "" %}
          <a href="{{asso.site}}" style="color:white">{{asso.site}}</a>
          {% else %}
          Aucun
          {% endif %}
        </div>
        <div align="left">  <font style="font-weight:bold"> Adresse Mail Officiel :</font> {{asso.mail}}</div>
        <div align="left">  <font style="font-weight:bold"> Demande de création :</font> {{asso.status}}</div>
        <div  align="left"><br><br><br>
          <a href="{% static 'contract_association/' %}{{ file }}"  style="text-decoration: none; color:white" download>
            <img src="../../static/intraAsso/image/download.png" alt="" width="70px" height="70px" align="left" style=" margin-top:-25px;">
            <div  style="text-decoration: none; color:white">Télécharger le Contrat</div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <br>
        <div class="col-md-1"></div>
      </div>
  </body>
