<html>
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="active" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      {% if not request.user.is_staff %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      {% endif %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>


    <h1 style="color: white" >Edit all products</h1>

    <div class="row">
      <div class="col-md-5"></div>
      <div style="color: white"  class="col-md-1" >
        {% for l in list %}
        {{ l.user }} <br> <br>
        {% endfor %}
      </div>
      <div style="color: white"  class="col-md-1" >
        {% block content %}
        <form method="POST">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
          {{ form.id }}
          {{ form.enacs }} <br> <br>
          {% endfor %}
          <input type="submit" class="btn btn-success btn-xs" value="Valider les points enacs">
        </form>
        {% endblock %}
      </div>
      <!--    <div class="col-md-5"></div>-->
    </div>

  </body>
