<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>

  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})" >
    <br>
    <img class="mb-4" src="../../static/intraAsso/image/Epita.png" alt="" width="200px" height="128px" align="left" >
    <div class=" container">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
          <br> <br><br>
          <h1 class="h1 mb-3 font-weight-normal" style = "color:white; text-align: center; font-size:xx-large;" >Inscription</h1>
          <br> <br><br>
          <form id="form1"  method="POST" style = "color:white; text-align: left; font-size: large;" novalidate>
            {% csrf_token %}
            {{ form | crispy }}

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Inscription" form="form1"  style="background-color: #41b2e6;" />
          </form>
          <br>
          <a href="{% url 'intraAsso:connexion' %}" style="text-decoration: none">
            <button type="submit" class="btn btn-lg btn-primary btn-block" style="background-color: #41b2e6;"> Connexion </button>
          </a><br><br><br><br>
        </div>
      </div>
    </div>
  </body>
</html>
