<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
  </head>
  <body>


  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="row">
      <div class="col-md-3">
        <br>
        <img class="mb-4" src="../../static/intraAsso/image/Epita.png" alt="" width="200px" height="128px" align="left" >        </div>
      <div class="col-md-8"> </div>
    </div>
    <div class="row">
      <div class="col-md-4"> </div>
      <div class="col-md-4">
        <br><br><br><br><br>
        <p  style = "color:white; font-size: xx-large;"> Vous êtes déconnecté</p>
        <br><br><br>
        <a href="{% url 'intraAsso:connexion' %}" style="text-decoration: none; large"><button class="btn btn-lg btn-primary btn-block" type="button" style="background-color: #41b2e6    ;">Connexion</button></a>
      </div>
      <div class="col-md-4"> </div>
    </div>

  </body>

</div>
</body>
</html>
