<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="lien" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      {% if not request.user.is_staff %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      {% endif %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <!--   <button class="searchbutton" type="submit">
               <i class="fa fa-search"></i>
        </button>-->
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>

    <br><br>
    {% if association.club %}
    <h1 style="color: white"> Club "{{ association.name }}"<br><br>
      Association Tutrice "{{tuteur.name}}"
    </h1>

    {% else %}
    <h1 style="color: white">Association "{{ association.name }}"</h1>

    {% endif %}

    

        {% if abonne == 0 %}
        <a  href="{% url 'intraAsso:abonne' association.id %}"><button align=type="submit" class="btn btn-success btn-sm">S'abonner </button></a>
        {% else %}
        <a  href="{% url 'intraAsso:abonne' association.id %}"><button align=type="submit" class="btn btn-danger btn-sm">Se désabonner </button></a>
        {% endif %}




    <br>
    <div class="row">

      <div class="col-md-4"></div>
      <div style="color: white"  class="col-md-4" >
        <div align="left">  <font style="font-weight:bold"> Description :</font>  {{association.description}}</div><br>
        <div align="left">  <font style="font-weight:bold"> Site Web Officiel :</font>
          {% if association.site != "" %}
          <a class = "link" style= "color: white"  href="{{association.site}}">{{association.site}}</a>
          {% else %}
          Aucun
          {% endif %}
        </div>
        <div align ="left">  <font style="font-weight:bold"> Adresse Mail Officiel :</font> {{association.mail}}</div>
      </div>
      <div style="color: white" class="col-md-3">
        <div align="left"><a href="{% url 'intraAsso:show_user' president.user.id %}" style="color:white; text-decoration:none"> <font style="font-weight:bold">{{ president.role.role_str }}: </font>{{ president.user }} </a></div>
        {% for l in members %}
        <div align="left"><a href="{% url 'intraAsso:show_user' l.user.id %}"  style="color:white; text-decoration:none" > <font style="font-weight:bold">{{ l.role.role_str }}: </font>{{ l.user }} </a></div>
        {% endfor %}
        <br>
        {% if k == 0%}
        {% if association.motivation == 1 %}
        <form id="form1"  method="POST" enctype="multipart/form-data" style = "color:white; text-align: left; font-size: large;" novalidate>
          {% csrf_token %}
          {{ form | crispy }}
          <!--<input class="btn btn-sm  btn-success " type="submit" value="Postuler" form="form1" />-->
          <div align="left">
            <input class="btn  btn-primary" type="submit" value="Postuler" form="form1"  style="background-color:  #41b2e6;"/>
          </div>
        </form>
        {% else %}
        <div align="left">
          <a href="{% url 'intraAsso:create_post' association.id %}" style="text-decoration: none;" >
            <button type="submit" class="btn  btn-primary" style="background-color:#41b2e6; text-decoration: none;">Postuler</button></a>
        </div>
        {% endif %}
        {% endif %}
      </div>
      <div style="color: white" class="col-md-1"></div>
    </div>
  </body>
