<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type="text/css">
      .bar{
      margin-top:25px;
      }

    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="lien" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association </a>

      {% if not request.user.is_staff %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      {% endif %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "lien" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <!--   <button class="searchbutton" type="submit">
               <i class="fa fa-search"></i>
        </button>-->
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>
    <div class="row">
      <div class = "col-md-2"></div>
      <div class="col-md-5" style = "color:white;text-align: left;">
        <h3 style="color:yellow"> Association </h3><br>
        {% for l in asso %}
        <a class="link" style ="color:yellow ;font-weight:bold;" href="{% url 'intraAsso:detail' l.id %}" > {{ l }} </a>
        <br>
        <td>{{ l.description }} </td>
        <br> <br>
        {% endfor %}
      </div>

      <div class = "col-md-3">
        <h3  style="color:yellow" >User </h3><br>
        {% for l in user %}
        <a class="link" style ="color: white ;font-weight:bold;" href="{% url 'intraAsso:show_user' l.id %}" > {{ l }} </a><br>
        {% endfor %}

      </div>
    </div>
  </body>
</html>
