<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">
    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="{% static 'intraAsso/image/Epita.png'%}" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px">
      </a>
      <a class="lien" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      {% if user == request.user %}
      <a class= 'active' href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      {% else %}
      <a class= 'lien' href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      {% endif %}
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association</a>
      {% if not request.user.is_staff %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      {% endif %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "bar" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">
      </form>
    </div>
    <br><br>
    <h1 style="color: white" >{{user}}</h1>
    <div class="row">

      <div class="col-md-4"></div>
      <div style="color: white"  class="col-md-4" >
        <div align="left">  <font style="font-weight:bold"> Nom :</font>  {{user.last_name}}</div>
        <div align="left">  <font style="font-weight:bold"> Prenom :</font>  {{user.first_name}}</div>
        <div align="left">  <font style="font-weight:bold"> Email : </font>{{user.email}}</div>
        {% if not request.user.is_staff %}
        <div align="left">  <font style="font-weight:bold"> Enacs : </font>{{enacs}}</div>
        {% endif %}
        {% if not user.cri and user == request.user%}
        <br><br>
        <a href="{% url 'intraAsso:edit_password' %}"  style="text-decoration: none; color: white" align ="left">
            <button type="button" class="btn btn-outline-light btn-xs"   style="width:250px" >Changer mon mot de passe</button>     <br>
        </a>
        <!--   <a   align="left"  href="{% url 'intraAsso:edit_password' %}">Changer le mot de passe</a>-->
        {% endif %}
        <br>
        {% for l in list %}
        <div align="left"> <a href="{% url 'intraAsso:detail' l.association.id %}" style="color:white; text-decoration:none" ><font style="font-weight:bold" > {{l.association}} : </font>{{ l.role }} </a></div>
        {% endfor %}
      </div>
      <div class="col-md-4"></div>
    </div>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
  </body>

