<html>
  <head>
    <meta charset="utf-8">
    <time></time>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'intraAsso/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'intraAsso/yaka.css'%}" media="all"/>
    <style type= "text/css">
      .asteriskField{display: none;}
    </style>
  </head>
  <body class="text-center" style="background-image :url({% static 'intraAsso/image/backgroundEPITA.png'%})">

    <div class="topnav container-fluid" style="z-index: 1">
      <a href="https://www.epita.fr/">
        <img src="../../static/intraAsso/image/Epita.png" alt="" width="100px" height="64px" align="left" style=" margin-top:-25px"></a>
      <a class="lien" align= "left"  href="{% url 'intraAsso:accueil' %}">Accueil</a>
      <a class="lien" href="{% url 'intraAsso:show_user' request.user.id %}">Mon Profil</a>
      <a class="lien"  align ="left"  href="{% url 'intraAsso:associations' %}">Association </a>

      {% if not request.user.is_staff %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:create_asso' %}">Création d'association</a>
      {% endif %}
      <a class="lien"  align="left"  href="{% url 'intraAsso:actualite' %}">Actualités</a>
      <a class="lien" align= "right" style = "float : right"href="{% url 'intraAsso:logout' %}">Déconnexion</a>
      <h5 class= "lien" style="color: white;" align= "right">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

      <form id="searchform" action="{% url 'intraAsso:research' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Recherche">

    </div>
    <br><br>
    <h1 style="color: yellow">Demande de création de l'association <br>"{{ asso.name }}"</h1>

    <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4" style="color:white">
        <div align="left"><font style="font-weight:bold; color:white"> Association Tutrice :
          </font> {{ asso.Association_tutrice.name}} </div>
        <div align="left"><font style="font-weight:bold; color:white"> Description :</font>  {{asso.description}}</div>
        <div align="left"><font style="font-weight:bold;  color:white"> Site Web Officiel : </font>
          {% if asso.site != "" %}
          <a style="color:white;"href="{{asso.site}}">{{asso.site}}</a>
          {% else %}
          Aucun
          {% endif %}
        </div>

        <div align ="left">  <font style="font-weight:bold;  color:white"> Adresse Mail Officiel :</font> {{asso.mail}}</div>
        <div align="left">  <font style="font-weight:bold;  color:white"> Demandé par :</font> {{asso.user}}</div>
      </div>
      <div class="col-md-3">
        {% for l in members %}
        <div align="left"> <font style="font-weight:bold">{{ l.role.role_str }}: </font>{{ l.user }} </div>
        {% endfor %}
        <br>

      </div>
      <div class="col-md-1"></div>
    </div>
    <br><br>
    <div class="row">
      <div  class="col-md-4"></div>
      <div  class="col-md-4">

        <a href="{% static 'contract_association/' %}{{ file }}"    style="text-decoration: none; color: white" align ="left" download>
          <img src="../../static/intraAsso/image/download.png" alt="" width="70px" height="70px" align="left" style=" margin-top:-25px;">
          <div align="left">Télécharger le Contrat</div>
        </a>
        <br><br>
        <div align="center">
          <a href="{% url 'intraAsso:yes_asso' asso.id %}"><button type="button" class="btn btn-success">Valider</button></a>
          <a href="{% url 'intraAsso:no_asso' asso.id %}">  <button type="button" class="btn btn-danger">Refuser</button></a>
        </div>


      </div>
      <div  class="col-md-4"></div>
    </div>
  </body>
