    .bar{
         margin-top:25px;
    }
/* Add a black background color to the top navigation */
.topnav {
  background-color: #00435f;
  display:block;
  overflow: hidden;
   position: -webkit-sticky;
    position: sticky;
top: 0px;
width:100%;

}

/* Style the links inside the navigation bar */
.topnav a {


 float : left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
/*  text-decoration: none;*/
  font-size: 17px;
  margin-top: 20px;
}
/* Change the color of links on hover */
.topnav .lien::hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
}
.topnav h5{
    float : right;
    text-align: center;
   margin-top: 20px;
    padding: 14px 16px;
}

.topnav form{
    float : left;
    text-align: center;
   margin-top: 15px;
    padding: 14px 16px;
}

.topnav .active {
 text-decoration: underline;
/*  background-color: #4CAF50;*/
  color: white;
}
.toptitle  {
top: 100px;
/*top: 50px;*/
  position: fixed;
  color: "#00435f";
  align="center";
}

.link a{
    text-decoration : "none";
}
.link a::hover{
    text-decoration: underline;
    }

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

